# CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/configuration-reference/ for more details
#
# The following environment variables must be set in the circleci project UI
# - $IMAGE_NAME -> name of image to push to dockerhub
# - $IMAGE_TAG -> tag on image to push to dockerhub
#
# Note: YAML anchors allow an object to be re-used, reducing duplication.
# The ampersand declares an alias for an object, then later the `<<: *name`
# syntax dereferences it.
# See http://blog.daemonl.com/2016/02/yaml.html
# To validate changes, use an online parser, eg.
# http://yaml-online-parser.appspot.com/
#
# Define YAML anchors
var_1: &load_docker_image
  run:
    name: Load Docker image layer cache
    command: |
      set +o pipefail
      docker load -i "/home/circleci/workspace/caches/${CIRCLE_PROJECT_REPONAME}-ci.tar" || true

var_2: &attach_workspace
  attach_workspace:
      at: /home/circleci/workspace/

# Start circleci configuration
version: 2.1
jobs:
  build:
    docker:
      - image: docker:stable-git
    working_directory: ~/build
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: build Docker image
          command: |
            docker build -t ${IMAGE_NAME}:ci --build-arg CLI_COMMIT=$CIRCLE_SHA1 .
      - run:
          name: Save Docker image
          command: |
            rm -rf /home/circleci/workspace/caches/
            mkdir /home/circleci/workspace/caches/ -p
            docker save -o "/home/circleci/workspace/caches/${CIRCLE_PROJECT_REPONAME}-ci.tar" "${IMAGE_NAME}:ci"
      - persist_to_workspace:
          root: /home/circleci/workspace/
          paths:
            - caches/*

  push_dockerhub:
    docker:
      - image: docker:stable
    steps:
      - setup_remote_docker
      - <<: *attach_workspace
      - <<: *load_docker_image
      - run:
          name: Push to Dockerhub
          command: |
            echo "$DOCKER_PASS" | docker login -u "$DOCKER_USER" --password-stdin
            export DEV_IMG_TAG="anchore/anchore-cli-dev:${CIRCLE_SHA1:0:10}"
            docker tag "${IMAGE_NAME}:ci" "$DEV_IMG_TAG"
            docker push "$DEV_IMG_TAG"
            if [ "$CIRCLE_BRANCH" == "master" ]; then
              echo "${IMAGE_NAME}:${IMAGE_TAG}"
              docker tag "${IMAGE_NAME}:ci" "${IMAGE_NAME}:${IMAGE_TAG}"
              docker push "${IMAGE_NAME}:${IMAGE_TAG}"
            elif [ "$CIRCLE_BRANCH" == "0.2" ]; then
              echo "${IMAGE_NAME}:v0.2-${IMAGE_TAG}"
              docker tag "${IMAGE_NAME}:ci" "${IMAGE_NAME}:v0.2-${IMAGE_TAG}"
              docker push "${IMAGE_NAME}:v0.2-${IMAGE_TAG}"
            elif [ "$CIRCLE_BRANCH" == "0.3" ]; then
              echo "${IMAGE_NAME}:v0.3-${IMAGE_TAG}"
              docker tag "${IMAGE_NAME}:ci" "${IMAGE_NAME}:v0.3-${IMAGE_TAG}"
              docker push "${IMAGE_NAME}:v0.3-${IMAGE_TAG}"
            fi

workflows:
  default_workflow:
    jobs:
      - build:
          filters:
            branches:
              only:
                - 'master'
                - '0.2'
                - '0.3'
                - 'create_rc_images'
      - push_dockerhub:
          context: dockerhub
          requires:
            - build
